{% extends 'base.html.twig' %}

{% block title %}Typecompte index{% endblock %}

{% block body %}
    <h1>Typecompte index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Libelle</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for typecompte in typecomptes %}
            <tr>
                <td>{{ typecompte.id }}</td>
                <td>{{ typecompte.libelle }}</td>
                <td>
                    <a href="{{ path('typecompte_show', {'id': typecompte.id}) }}">show</a>
                    <a href="{{ path('typecompte_edit', {'id': typecompte.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('typecompte_new') }}">Create new</a>
{% endblock %}
